* {
	box-sizing: border-box;
}

#content {
	border: 2px solid black;
	width: 50px;
}

.position-fixed {
	position: fixed;
	top: 0;
	height: 60px;
}

.float-ex {

}

.float-left {
	background-color: red;
	float: left;
	height: 40px;
	width: 40px;
}

.float-right {
	background-color: green;
	float: right;
	height: 40px;
	width: 40px;
}

.clearfix {
	overflow: auto;
	zoom: 1;
}

.flexbox-ex {
	-webkit-align-items: center;
	align-items: center;
	border: 1px solid black;
	display: -webkit-flex;
	display: flex;
	height: 100px;
}

.flexbox-ex > div {
	background-color: red;
	width: 40px;
}