/*POSTING*/
.section-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20pt;
}

.block {
    background-color: #FFFADE;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

#submit {
    margin-bottom: 50px;
}

body {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: -48.9%;
    background-attachment: fixed;
}

.error {
    color: #f00;
    font-weight: 500;
    font-family: sans-serif;
}

#errors {
    color: #f00;
}

.img-thumbnail {
    max-height: 100px;
}

.img-thumbnail:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px #FF8219;
}