#title {
    font-weight: 900;
}

.block {
    border-radius: 4px;
}

#description {
    background-color: #FFFADE;
    padding: 20px;
    font-size: 12pt;
    min-height: 208px;
}

#contact-info {
    font-size: 15pt;
    background-color: #FFE6D1;
    padding: 25px;
    padding-bottom: 50px;
}

#price {
    font-size: 40pt;
    background-color: #FFFADE;
    padding: 15px;
    margin-bottom: 20px;
}