#title {
    font-weight: 900;
}

.block {
    border-radius: 4px;
}

#description {
    background-color: #FFFADE;
    padding: 20px;
    font-size: 12pt;
    min-height: 208px;
    overflow-wrap: break-word;
}

#contact-info {
    font-size: 15pt;
    background-color: #FFD7B6;
    padding: 25px;
    padding-bottom: 50px;
}

#price {
    font-size: 40pt;
    background-color: #FFFADE;
    padding: 15px;
    margin-bottom: 20px;
}

#success {
    background-color: #E4FFDE;
    margin-bottom: 20px;
}

#success > h2 {
    margin-bottom: 20px;
}

.img-thumbnail {
    max-height: 160px;
}