
<h1 id="user-title" class="text-center">{{title}}</h1>
<div class="col-sm-10">
</div>
<form class="form-horizontal">
    <h2 class="col-sm-offset-3 posting-section-title">Información del instrumento</h2>
    <div class="form-group">
        <label for="category" class="col-sm-3 control-label">Categoría</label>
        <div class="col-sm-6">
            <select class="form-control" id="category">
                <option></option>
                <option>Guitarras</option>
                <option>Bajos</option>
                <option>Teclados/Sintes</option>
                <option>Pianos</option>
                <option>Batería/Percusión</option>
                <option>Amplificadores</option>
                <option>Vientos: Maderas</option>
                <option>Vientos: Metales</option>
                <option>Accesorios</option>
                <option>Otros</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="col-sm-3 control-label">Título</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="title" placeholder="El título de tu anuncio">
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-sm-3 control-label">Descripción</label>
        <div class="col-sm-6">
            <textarea class="form-control" id="description" placeholder="La descripción de tu anuncio" resize="vertical" rows="5"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="images" class="col-sm-3 control-label">Imágenes</label>
        <div class="col-sm-6">
            <div class="col-sm-3">
                <img src="http://dummyimage.com/180x180/FDE974/ff831a" alt="..." class="img-thumbnail">
            </div>
            <div class="col-sm-3">
                <img src="http://dummyimage.com/180x180/FDE974/ff831a" alt="..." class="img-thumbnail">
            </div>
            <div class="col-sm-3">
                <img src="http://dummyimage.com/180x180/FDE974/ff831a" alt="..." class="img-thumbnail">
            </div>
            <div class="col-sm-3">
                <img src="http://dummyimage.com/180x180/FDE974/ff831a" alt="..." class="img-thumbnail">
            </div>
        </div>
    </div>
    <hr>
    <h2 class="col-sm-offset-3 posting-section-title">Información de contacto</h2>
    <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Nombre*</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="name">
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-3 control-label">E-mail*</label>
        <div class="col-sm-6">
            <input type="email" class="form-control" id="email">
        </div>
    </div>
    <div class="form-group">
        <label for="phone" class="col-sm-3 control-label">Teléfono</label>
        <div class="col-sm-6">
            <input type="phone" class="form-control" id="phone">
        </div>
    </div>
    <div class="form-group">
        <label for="province" class="col-sm-3 control-label">Provincia</label>
        <div class="col-sm-6">
            <select class="form-control" id="province">
                <option></option>
                <option>Provinciah</option>
                <option>Provinciah</option>
                <option>Provinciah</option>
                <option>Provinciah</option>
                <option>Provinciah</option>
                <option>Provinciah</option>
                <option>Provinciah</option>
                <option>Provinciah</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="city" class="col-sm-3 control-label">Ciudad</label>
        <div class="col-sm-6">
            <select class="form-control" id="city">
                <option></option>
                <option>Ciudadd</option>
                <option>Ciudadd</option>
                <option>Ciudadd</option>
                <option>Ciudadd</option>
                <option>Ciudadd</option>
                <option>Ciudadd</option>
                <option>Ciudadd</option>
                <option>Ciudadd</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-lg btn-warning col-sm-6 col-sm-offset-3" id="posting-submit">Publicar!</button>
</form>
